#countdown-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 15rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 300;
    pointer-events: none;
}


#player-ui {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a2f40;
    
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', serif;
    
    border: 10px solid #d4af37;
    
    box-sizing: border-box;
}

#player-name-display {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 2rem;
    text-transform: uppercase;
    background: #000;
    padding: 10px 20px;
    border: 2px solid #fff;
    letter-spacing: 2px;
}

#player-waiting-msg {
    color: #d4af37;
    
    font-size: 1.5rem;
    font-style: italic;
    animation: none;
}
